.github/workflows/*.yml text eol=lf
twrp/**/*.patch text eol=lf
twrp/**/*.cpp text eol=lf
twrp/**/*.py text eol=lf
twrp/**/*.mk text eol=lf
twrp/**/recovery.fstab text eol=lf
twrp/**/prop.default text eol=lf
twrp/**/prebuilt/* binary
